---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}


.main-content {
	direction: rtl !important;
	text-align: justify !important;
	font-family: 'alkatip' !important;
}

.mainheading {
	text-indent: 30px !important;
	font-family: 'alkatip' !important;
}

.card-text{
	text-indent: 30px !important;
}

@font-face {
	font-family: 'alkatip';
	src: url('../fonts/ALKATIP-TOR.woff2') format('woff2'),
	url('../fonts/ALKATIP-TOR.eot') format('eot'),
	url('../fonts/ALKATIP-TOR.ttf') format('ttf'),
	url('../fonts/ALKATIP-TOR.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
